#logo {
    width: 6%;
    vertical-align: middle; /* Aligns image to same plane as searchbox */
    margin-right: 25px;
    margin-left: 25px;
}

#searchbox {
    display: inline;
}

#navbar {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 40%;
    margin-left: 140px;
    margin-bottom: 10px;    
}

#navbar > li {
    display: inline-block;
}

#navbar > li a {
    color: rgb(82, 82, 82);
    text-align: center;
    padding: 14px 11px;
    text-decoration: none;
    font-size: 14px;
}

#botborder {
    border-top: 1px solid rgb(211, 211, 211);
    padding-bottom: 10px;
}

input[type=text] {
    width: 42%;
    border-radius: 30px;
    padding-top: 14px;
    padding-bottom: 14px;
    border: 1px solid rgb(211, 211, 211);
    margin-bottom: 19px;
    margin-top: 19px;
}

.rlist {
    margin-left: 145px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20px;
    padding-bottom: 5px;
    color: rgb(14, 14, 182);
}

h2 {
    margin-bottom: 5px;
}

p {
    width: 45%;
    line-height: 20px;
}

body .rlist h2 a{
    color: green;
}

a:-webkit-any-link {
    color: rgb(14, 14, 182);
    text-decoration: none;
}

#rcount{
    font-size: 15px;
    color: rgb(136, 136, 136);
}

