body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 20%;
    margin-top: 48px;
    margin-bottom: 19px;
}

input[type=text] {
    width: 33%;
    border-radius: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    border: 1px solid rgb(211, 211, 211);
    margin-bottom: 19px;
}

div {
    display: block;
    text-align: center;
}